* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app {
    position: relative;
}

.game {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.calc {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 200px;
    padding: 20px;
    font-size: 54px;
    text-align: center;
}

.calcPleyer1,
.calcPleyer2 {
    transition: all 0.4s ease 0s;
}

.calc-num {
    font-weight: 800;
    font-size: 136px;
    padding: 10px;
    margin-top: 100px;
}

.button {
    position: absolute;
    top: 55px;
    left: 825px;
    border-radius: 25px;
    border: none;
    padding: 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 70px;
    width: 250px;
    color: #FCFDFE;
    background-color: #727eec;
    transition: all 0.3s ease 0s;
}

.start:hover {
    background-color: #4354f1;
}

a {
    text-decoration: none;
    color: #fff;
}

.tikTak {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.a {
    width: 200px;
    height: 200px;
    border: 1px solid red;
    background-size: cover;
}

.a {
    font-size: 182px;
    text-align: center;
}